
@{
    ViewData["Title"] = "Assess";
}

<h1>Assess</h1>

<div class="assessment-container">
    <a href="@Url.Action("Type_Assess", "Assess")" class="assessment-box">
        <div class="assessment-title">General Typing Assessment</div>
    </a>
    <a href="@Url.Action("Data_Entry", "Assess")" class="assessment-box">
        <div class="assessment-title">Data Entry Alpha Numeric Assessment</div>
    </a>
</div>


